<h1>Panel de usuarios</h1>
<hr>

<div class="text-right">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" routerLink="nuevo" routerLinkActive="active">Nuevo</button>
        <button type="button" class="btn btn-secondary" routerLink="editar" routerLinkActive="active">Editar</button>
        <button type="button" class="btn btn-secondary" routerLink="detalle" routerLinkActive="active">Detalle</button>
    </div>
</div>

<router-outlet></router-outlet>